<section data-ng-controller="GamesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="supported_types[game.game_type]"></h1>
	</div>
	<div class="pull-right" data-ng-show="userIsPlaying()">
		<a class="btn btn-primary" href="/#!/games/{{game._id}}/play">
			Play
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<h3>
		<span data-ng-repeat="player in game.players">
			<span data-ng-bind="player.displayName"></span> vs.
		</span>
		<!--<span data-ng-bind="game.players[0].displayName"></span> vs. <span data-ng-bind="game.players[1].displayName"></span> -->
	</h3>
	<h3>
		<span data-ng-bind="game.scores[0]"></span> to <span data-ng-bind="game.scores[1]"></span>
	</h3>
	<h3>
	Current thrower: <span data-ng-bind="game.current_thrower.displayName"></span>
	</h3>
	<small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="game.created | date:'mediumDate'"></span>
		</em>
	</small>
</section>