
    <table class="table">
        <tr>
            <td align="left">
                <b><span data-ng-bind="game.player1.displayName"></span></b>
            </td>
            <td align="right">
                <b><span data-ng-bind="game.player2.displayName"></span></b>
            </td>
        </tr>
    </table>
    <table class="table">
        <tr>
        <td align="center" data-ng-bind="game.scoreboard[16].player1_score"></td>
        <td align="center" data-ng-bind="game.scoreboard[16].player1_closes"></td>
        <td align="center">16</td>
        <td align="center" data-ng-bind="game.scoreboard[16].player2_closes"></td>
        <td align="center" data-ng-bind="game.scoreboard[16].player2_score"></td>
        </tr>
    </table>